// Login.module.scss

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f7f7ff, #f3e7fd); // Adjust the gradient based on your needs
}

.loginBox {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.logo {
    margin-bottom: 1rem;

    img {
        width: 100px; // Adjust the size of your logo
        height: auto;
    }
}

.title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.inputGroup {
    margin-bottom: 1.2rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        color: #555;
    }

    input {
        width: 100%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.2s;
        box-sizing: border-box;
    }

    input:focus {
        border-color: #5159F6; // Adjust the focus color to match your design
    }
}

.loginButton {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #5159F6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #5b00d7;
}

.loginButton:disabled {
    background-color: #b2a7ea;
    cursor: not-allowed;
}